@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  /* height: 400vh; */
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: #f5f6fb;

  display: flex;
  width: 100%;
  flex-direction: column;
}

/* navbar */
.navbar {
  background-color: #03bbdd;
}

.container-fluid .navbar-brand {
  font-weight: bold;
}

.container-fluid .navbar-brand:hover {
  color: white;
}

.container-fluid a {
  color: white;
}

.collapse {
  justify-content: flex-end;
}

/* dropdown menu */
.dropdown-menu a {
  color: black;
}

/* parent artikel */
.parent-article {
  margin-top: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* list artikel */
.article {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 120px;
}

.article h1 {
  font-size: 30px;
  text-align: center;
}

.list-article {
  display: flex;
  padding-top: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* card */
.card-body .btn {
  border: solid 1px #03bbdd;
}

.card-body .btn:hover {
  background-color: #03bbdd;
  color: white;
}

/* footer */
footer {
  margin-top: 50px;
  background-color: #03bbdd;
}

.parent-footer {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-self: center;
}

.parent-footer {
  color: white;
  font-weight: 400;
}

/* responsive */
@media screen and (max-width: 986px) {
  .parent-article {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* mobile */
@media (max-width: 450px) {
  .parent-article {
    padding-left: 20px;
    padding-right: 20px;
  }
}
